body {
  margin: 0;
  padding: 0;
}
.contenedor {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1080px;
  /* background: #9ADBFE; */
  background: linear-gradient(45deg, #3498db, #8e44ad);
}
.boton-silencio {
  position: absolute;
  width: 4px;
  height: 25px;
  background-color: #0300cc;
  z-index: 1000;
  left: -4px;
  top: 115px;
}
.boton-subir_volumen {
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: #0300cc;
  z-index: 1000;
  left: -4px;
  top: 215px;
}
.boton-bajar_volumen {
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: #0300cc;
  z-index: 1000;
  left: -4px;
  top: 315px;
}
.boton-encender {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: #0300cc;
  z-index: 1000;
  right: -4px;
  top: 315px;
}
.boton-silencio,
.boton-subir_volumen,
.boton-bajar_volumen,
.boton-encender {
  position: absolute;
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}
.telefono {
  margin-top: 15px;
  border-radius: 80px;
  position: relative;
  width: 450px;
  height: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: #c8c6c2;
  margin-bottom: 15px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.telefono-border {
  position: relative;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  position: relative;
  width: 440px;
  height: 795px;
  background-color: black;
  /* cursor: pointer; */
}
.telefono-pantalla {
  position: relative;
  border-radius: 80px;
  width: 430px;
  height: 780px;
  background-color: #414234;
}
.pantalla-bloqueado {
  /* position: relative; */
  position: absolute;
  border-radius: 80px;
  width: 430px;
  height: 780px;
  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(5px); */
  /* background-color: #414234; */
}
.pantalla-off {
  display: none;
  position: absolute;
  border-radius: 79px;
  width: 430px;
  height: 786px;
  background-color: #242423;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.3s ease;

  /* transition-duration: 2s; */
}
.blur-effect{
    filter: blur(8px);
}

/* parte de desbloqueo */
.pantalla-desbloqueo {
  display: none;
  position: relative;
  border-radius: 79px;
  width: 430px;
  height: 786px;
  background-color: #24242359;
  z-index: 10001;
  opacity: 0;
  transition: opacity 1s ease;
  /* transition-duration: 2s; */
}
.icon{
    position: absolute;
    display: flex;
    top: 10px;
    right: 35%;
    width: 100px;
    height: 100xp;
}
.bloqueo-icon{
    display: flex;
    width: 50px;
    height: 50px;
}
.controles {
  position: relative;
  width: 100%;
  height: 786px;
  /* background: #0f7445ad; */
}
.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  /* background-color: #242423; */
  bottom: 0;
}
.fila {
    margin-top: 8px;
  width: 90%;
  height: auto;
  display: flex;
  /* margin-right: 10px; */
  /* background: #8e44ad; */
  justify-content: space-evenly;
}
.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  font-size: 40px;
  background-color: #1c1c1d80;
  color: white;
  cursor: pointer;
}
.numero:hover{
    background-color: #1c1c1db0;
    transition-duration: 0.5s;
}
.numVacio{
    display: none;
    background: transparent;
}
.mostrar-pantalla {
  display: block;
  opacity: 1;
}
.pantalla-bloqueado, .pantalla-desbloqueo {
    transition: filter 0.7s ease; /* Ajusta la duración y la función de tiempo según tu preferencia */
}


/* img de calve */
.valor-clave{
    position: absolute;
    top: 30%;
    left: 30%;
}
.notificaciones {
  position: absolute;
  left: 30%;
  top: 10px;
  width: 40%;
  height: 30px;
  background: black;
  border-radius: 40px;
  display: flex;
  /* margin-bottom: 15px; */
}

.noti-lock {
  position: relative;
  width: auto;
  display: flex;
  /* transition-duration: 2s; */
  transition: transform 0.3s;
  /* background: white; */
}
.noti-lock img {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}
.boton-tono {
  display: flex;
  position: absolute;
  /* display: flex; */
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #9d9d9d;
  border-radius: 30px;
  border-width: 1px;
  opacity: 0;
  border-color: black;
  border: solid;
  z-index: 1000;
  left: 10px;
  top: 115px;

  /* align-items: center; */
}
.tono-icon {
  /* border-color: black; */
  position: relative;
  margin-top: 15px;
  display: flex;
  margin-bottom: 15px;
}
.volumen {
  display: flex;
  position: absolute;
  /* display: flex; */
  justify-content: center;
  width: 50px;
  height: 180px;
  background-color: #9d9d9d;
  border-radius: 80px;
  border-width: 1px;
  opacity: 0;
  border-color: black;
  border: solid;
  z-index: 1000;
  left: 10px;
  top: 215px;
  overflow: hidden;
  /* align-items: center; */
}
.volumen-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.informacion {
  /* background: violet; */
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 31%;
  top: 50px;
  text-align: center;
  /* column-gap: normal; */
  /* margin-top: 15xp; */
}
.fecha {
  font-size: 2vh;
  margin: 0;
}

.hora {
  font-size: 3.5vh;
  margin: 0;
}
h1 {
  margin: 0;
}
.barra_navegacion {
  position: absolute;
  border-radius: 40px;
  width: 40%;
  height: 5px;
  bottom: -5px;
  right: 31%;
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  cursor: pointer;
}
.barra_navegacion2 {
    cursor: pointer;
    position: absolute;
    border-radius: 40px;
    width: 40%;
    height: 5px;
    bottom: -5px;
    right: 31%;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
  }
.telefono-pantalla {
  overflow: hidden;
}

/* animaciones */
/* mover el candado */
.notificaciones:hover .noti-lock {
  transform: translateX(580%);
  transition-duration: 0.5s;
}
/* barra de navegacion */
.pantalla-bloqueado:hover .barra_navegacion {
  /* bottom: 10px; */
  transform: translateY(-200%);
  /* transition-duration: 0.5s; */
}
.pantalla-desbloqueo:hover .barra_navegacion2 {
    /* bottom: 10px; */
    transform: translateY(-300%);
    /* transition-duration: 0.5s; */
  }